@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* width */
  /* ::-webkit-scrollbar {
    position: absolute;
    top: 0;
    width: 15px;
    height: 5px;
  } */

  /* Track */
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(0, 0, 0);
     border-radius: 10px; 
  } 
*/
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
  } */

  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #808080;
  } */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    /* -webkit-box-shadow:0 0 0 50px #575757 inset; */
    /* -webkit-box-shadow:0 0 0 50px tran ; */
    /* @apply autofill:shadow-transparent */
    -webkit-text-size-adjust: auto;
    /* -webkit-text-fill-color: transparent !important; */
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  textarea {
    resize: none;
  }
}

@layer components {
  .row-center{
    @apply flex justify-center items-center;
  }

  .col-center{
    @apply flex flex-col justify-center items-center;
  }

  .custom-cancel-button {
    @apply relative;
  }
  .custom-cancel-button::-webkit-search-cancel-button::after {
    -webkit-user-modify: read-write !important;
    content: "XDDDD";
    @apply text-red-500 block w-4 h-4 absolute top-1 right-1  bg-yellow-200 bg-no-repeat !important
    /* color: red;
    display: block;
    width: 10px;
    height: 10px;

    position: absolute;
    top: 1px;
    right: 1px;

    background-color: yellow;
    background-size: 10px;
    background-position: top right;
    background-repeat: no-repeat; */;
  }

  .input {
    @apply outline-0 w-full truncate mx-2 bg-transparent;
  }

  .success-btn{
    @apply bg-green-300 hover:bg-green-400 active:bg-green-500 text-green-50;
  }

  .grey-btn{
    @apply text-slate-400 bg-slate-200  hover:bg-slate-300 active:bg-slate-400 active:text-slate-50;
  }

  .primary-btn{
    @apply text-slate-50 bg-blue-500 hover:bg-blue-600 active:bg-blue-700;
  }
  .input-box {
    @apply flex flex-row min-w-[200px] min-h-12 border-2 border-transparent bg-grey-30 focus-within:bg-grey-30 focus-within:border-mint-300 px-2
    text-white rounded-lg items-center;
  }

  .list {
    @apply border-2 w-fit;
    @apply bg-white text-black;
  }

  .list-item {
    @apply flex flex-row gap-2;
    @apply justify-between items-start;
    @apply w-full h-10 px-2;
    @apply bg-inherit hover:bg-slate-200;
  }

  .style-scroll-b::-webkit-scrollbar{    
    position: absolute;
    bottom: 2px;
    width: 10px;
    height: 10px;
  }

  /* .style-scroll-b::-webkit-scrollbar-track{
    box-shadow: inset 0 0 2px grey;
     border-radius: 10px; 
  } */

  .style-scroll-b::-webkit-scrollbar-track{
    box-shadow: inset 0 0 0px grey;
     border-radius: 10px; 
  }

  .style-scroll-b::-webkit-scrollbar-thumb{
    background: #d2d2d2;
    border-radius: 10px;
  }

  .style-scroll-b::-webkit-scrollbar-thumb:hover{
    background: #ABFFC3;
  }

  .style-scroll-b::-webkit-scrollbar-thumb:active{
    background: #01cd3b;
  }
}
